@font-face {
  font-family: "garamond";
  src: url("../fonts/garamond.otf") format("truetype");
}
@font-face {
  font-family: "garamond";
  src: url("../fonts/garamond-ita.otf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "garamond";
  src: url("../fonts/garamond-bd.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "garamond";
  src: url("../fonts/garamond-bdita.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "simulacres";
  src: url("../fonts/simulacresbats.ttf") format("truetype");
}
@font-face {
  font-family: "philosopher";
  src: url("../fonts/philosopher-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "ovidius";
  src: url("../fonts/ovidiusdemi.ttf") format("truetype");
}
@font-face {
  font-family: "codebold";
  src: url("../fonts/codebold.otf") format("truetype");
}

.prosemirror menu {
  font-size: 0.8em;
  li {
    margin: 0px 0px;
  }
}

:root {
  --font-pj-color: black;
  --background_pj: none;
  --font-pj-name: 40px "garamond";
  --font-pj-name-color: black;
  --font-pj-indications: 10px "garamond";
  --font-pj-indications-color: black;
  --font-pj-titre: 10px "garamond";
  --font-pj-titre-color: black;
  --font-pj-pv: 10px "garamond";
  --font-pj-pv-color: black;
  --font-pj-label: 10px "garamond";
  --font-pj-label-color: black;
  --font-pj-comp-lbl-color: black;
  --font-pj-nb: 20px "garamond";
  --font-pj-nb-color: black;
}

/** Mixins **/
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: medium;
}

.details-input {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 0;
  clip-path: polygon(25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 25%);
  padding: 5px;
  background-color: white;
  text-align: center;
  font-size: x-large;
}

.details-valeur {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 0;
  clip-path: polygon(25% 0, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 25%);
  padding: 5px;
  text-align: center;
  font-size: x-large;
  padding: 5px;
}

/** Fin Mixins **/

.ludiverse.sheet.actor.pj {
  .editor {
    width: 100%;
    height: 100%;
    background-color: #f9f6f1;
    background: var(--background_base);
    box-shadow: inset 0 0 6px black;
    font-family: "garamond";
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 5em;
  }
  .editor-content {
    min-height: 5em;
    margin: 0px 5px 0px 5px;
  }
  .pj-sheet {
    background: var(--background_pj);
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 2fr;
    color: var(--font-pj-color);
  }
  .pj-header {
    display: grid;
    gap: 20px;
    grid-template-columns: 320px 190px 190px;
    grid-template-rows: 45px 160px 180px;
    .charname {
      grid-row: 1 / 2;
      grid-column: 1 / span 3;
      display: flex;
      input {
        font: var(--font-pj-name);
        color: var(--font-pj-name-color);
        text-align: left;
        border: none;
        height: 100%;
      }
      .change-lock {
        width: 50px;
        border: solid black 2px;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: medium;
          font-weight: bold;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }
    .description {
      grid-row: 2 / span 2;
      grid-column: 1 / 2;
      margin: 0 5px 0 5px;
      display: flex;
      flex-direction: column;
    }
    .indications {
      display: flex;
      flex-direction: column;
      margin: 0 5px 0 5px;
      padding-top: 10px;
      input {
        color: var(--font-pj-color);
      }
      label {
        font: var(--font-pj-indications);
        color: var(--font-pj-indications-color);
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
      }
    }
    .comp-lbl {
      font-size: 0.8em;
      color: var(--font-pj-comp-lbl-color);
    }
    .composantes-details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* Tous les enfants de .composantes-details */
      > * {
        .details;

        input {
          .details-input;
        }

        .valeur {
          .details-valeur;
        }

        img {
          border: none;
        }
      }
    }
    .composantes-titre {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--font-pj-label-color);
    }
    .composantes-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;
      font-size: medium;
      label {
        font: var(--font-pj-nb);
        color: var(--font-pj-nb-color);
      }
    }

    .composantes {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
      display: grid;
      grid-template-rows: 30px 1fr;
      text-align: center;
      font-size: larger;
    }
    .moyens {
      grid-row: 2 / 4;
      grid-column: 3 / 4;
      display: grid;
      grid-template-rows: 30px 1fr;
      text-align: center;
      font-size: larger;
    }
    .metier {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      input {
        color: var(--font-pj-color);
      }
      .metier-titre {
        color: var(--font-pj-label-color);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: larger;
      }
      .metier-details {
        display: flex;
        flex: 1;
        padding: 5px;
        align-items: center;
        text-align: center;
        font-size: medium;
        .nom {
          margin: 5px;
        }
        .valeur {
          width: 20px;
        }
      }
    }
    .talents {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      input {
        color: var(--font-pj-color);
      }
      .talents-titre {
        color: var(--font-pj-label-color);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: larger;
      }
      .talents-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: medium;
        .nom {
          margin: 5px;
        }
        .valeur {
          width: 20px;
          margin: 5px;
        }
        /* Tous les talents  */
        > * {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .pj-main {
    display: grid;
    gap: 5px;
    grid-template-columns: 160px 160px 190px 190px;
    grid-template-rows: 80px 200px 300px;

    .points {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;

      .points-vie,
      .points-souffle {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        flex: 1;
        align-items: center;
        .ligne-vie,
        .ligne-souffle {
          margin-left: 25px;
        }

        label {
          text-transform: uppercase;
          text-align: right;
          font: var(--font-pj-pv);
          color: var(--font-pj-pv-color);

          .max {
            width: 25px;
            text-align: center;
          }
        }

        input[type="checkbox"] {
          width: 20px; /* Largeur de l'input */
          height: 20px; /* Hauteur de l'input */
          -webkit-appearance: none; /* Supprime l'apparence par défaut pour WebKit/Blink */
          appearance: none; /* Supprime l'apparence par défaut */
          border-radius: 50%; /* Rend l'élément rond */
          border: 1px solid grey; /* Bordure pour l'input */
          background-color: white; /* Couleur de fond */

          &:checked {
            background-color: black; /* Couleur de fond lorsque l'input est coché */
          }
        }
      }
    }

    .equipement {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      .equipement-titre {
        font: var(--font-pj-titre);
        color: var(--font-pj-titre-color);
        margin-bottom: 5px;
      }
    }

    .capacites {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      .capacites-titre {
        font: var(--font-pj-titre);
        color: var(--font-pj-titre-color);
        input {
          color: var(--font-pj-titre-color);
        }
        margin-bottom: 5px;
        display: flex;
      }
      .capacites-details {
        display: flex;
        flex-direction: column;
        > * {
          display: flex;
          flex-direction: column;
          .titre {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--font-pj-color);
            input {
              color: var(--font-pj-color);
            }
          }
          .nom {
            margin: 5px;
          }
          .cout {
            width: 20px;
            margin: 5px;
          }
        }
      }
    }

    .image {
      grid-row: 1 / 4;
      grid-column: 3 / 5;
      justify-content: center; /* Centre horizontalement l'image dans la div */
      align-items: center; /* Centre verticalement l'image dans la div */
      img {
        border: none;
        max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de la div */
        height: auto; /* Garde le ratio de l'image */
      }
      .regles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .titre {
          font-size: larger;
          margin-bottom: 5px;
          font-weight: bold;
          text-transform: uppercase;
          padding-top: 10px;
        }
        .details {
          font-size: medium;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.dialog-jet-action {
  .dialog-grid {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 120px 120px;
    .comp-block {
      display: grid;
      grid-template-columns: 70px 70px 70px;
      grid-template-rows: 25px 40px;
      border: 2px solid black;
      margin: 4px;
      .comp-titre {
        grid-column: 1 / 4;
        text-align: center;
        font-size: medium;
        font-weight: bold;
      }
      .comp-elem {
        display: flex;
        flex-direction: column;
        flex: 0 0 35px;
        padding: 5px;
        align-items: center;
        text-align: center;
        font-size: medium;
        img {
          border: 0px;
        }
      }
      .choix {
        .labelchk {
          grid-column: 1 / 4;
          display: grid;
          grid-template-columns: 70px 70px 70px;
          .checkbox {
            display: flex;
            flex-direction: column;
            padding: 5px;
            align-items: center;
            text-align: center;
            font-size: 0.9em;
          }
        }
      }
    }
    .metier-talent-block {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 140px 70px 240px;
      grid-template-rows: 25px 25px 25px 25px;
      border: 2px solid black;
      padding-top: 5px;
      margin: 4px;
      .metier-titre {
        text-align: center;
      }
    }
  }
  .dialog-button {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    margin: 10px 140px;
    border: solid black 2px;
    border-radius: 20px;
  }
}
.action-roll-chat {
  display: flex;
  flex-direction: column;
  .intro {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .introImg {
      padding: 5px;
      width: 60px;
      height: 60px;
      object-fit: contain;
      object-position: center;
      align-self: center;
      img {
        border: 0px;
      }
    }
    .intro_right {
      display: flex;
      flex-direction: column;
      .introText {
        width: 210px;
        padding-top: 0.5em;
        text-align: center;
      }
      .ligne_img {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          width: 25px;
          height: 25px;
          border: 0px;
        }
      }
    }
  }
  .dice-result {
    text-align: center;
    .result-tooltip {
      position: relative;
      display: inline-block;
      .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        position: absolute;
        z-index: 1;
      }
    }
    .result-tooltip:hover .tooltiptext {
      visibility: visible;
    }
  }
}
i.logo_action {
  width: 30px;
  height: 30px;
  background-image: url("../assets/action.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_coeur {
  width: 30px;
  height: 30px;
  background-image: url("../assets/coeur.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_corps {
  width: 30px;
  height: 30px;
  background-image: url("../assets/corps.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_esprit {
  width: 30px;
  height: 30px;
  background-image: url("../assets/esprit.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_perception {
  width: 30px;
  height: 30px;
  background-image: url("../assets/perception.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_resistance {
  width: 30px;
  height: 30px;
  background-image: url("../assets/resistance.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
